html {
	box-sizing: border-box; //working with border-box
	font-size: 62.5%; //1rem=10px 10px/16 =62,5%
	position: relative;
	overflow-x: hidden;
}

body {
	line-height: 1.6;
	color: var(--color-grey-dark-2) !important;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;

	min-height: 100vh;
	font-size: 1.6rem;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
